@using PagedList.Mvc;
@using PagedList;
@model IList<SparkHelp.ViewModels.ResultsViewModel>
@{
    ViewBag.Title = "Home Page";

}
<link rel="stylesheet" type="text/css" href="Content/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="Content/Site.css" />
<div class="container">

    <div class="text-center">
        <h1>Spark Help</h1>
    </div>
    <br/>
    <br/>
    <!-- Search Navbar - START -->

    <div class="col-md-4 col-md-offset-4">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q">
                <div class="input-group-btn">

                    <a href="@Url.Action("Index", "Home", new {queried = "true"})"><button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button></a>
                </div>

            </div>

            <label>@Html.CheckBox("Stack", true) Stack Overflow </label>
            <label>@Html.CheckBox("MSDN", true) MSDN </label>
            <label>@Html.CheckBox("W3", true) W3</label>
            <label>@Html.CheckBox("CodeProject", false) CodeProject </label>
            <label>@Html.CheckBox("Unity3D", false) Unity3D </label>
            
        </form>
    </div>
    <br/>
    <br/>

    <div class="col-md-12">
        <h2 style="margin-left: auto; margin-right: auto; clear: both;">Stack Overflow</h2>
        <br />
        <ul class="list-results">
            @{
                int page = 0;
                int index = 0;
                int index2 = 0;
                int index3 = 0;
                int index4 = 0;
                int index5 = 0;
                string prevSOString = "";
            }
            @foreach (var item in Model)
            {
                if (item.stack != null)
                {
                    if (item.stack.QuestionTitle != prevSOString && index < 8 && item.stack.QuestionTitle.Trim() != "null")
                    {
                        string link = @item.stack.QuestionLink;
                        <li>
                            <a href="@link" style="width: auto; height: 72px;">
                                <h4>@Html.DisplayFor(modelItem => item.stack.QuestionTitle)</h4>
                            </a>
                        </li>
                        index++;
                        prevSOString = item.stack.QuestionTitle;

                    }
                }

            }

        </ul>
    </div>
    <div class="col-md-12">
        <br/>
        <h2 style="margin-left: auto; margin-right: auto; clear: both;">MSDN</h2>
        <br/>
        <ul class="list-results">

            @{
                string prevString = "";
                page = 0;
                index2 = 0;
            }
            @foreach (var item in Model)
            {
                if (item.msdn != null)
                {
                    if (item.msdn.QueryTitle != prevString && index2 < 8 && item.msdn.QueryTitle != "null")
                    {
                        string link = @item.msdn.QueryURL;
                        <li>
                            <a href="http://@link" style="width: auto; height: 72px;">
                                <h4>@Html.DisplayFor(modelItem => item.msdn.QueryTitle)</h4>
                            </a>
                        </li>
                        index2++;
                    }

                    prevString = item.msdn.QueryTitle;
                }
            }
        </ul>
    </div>

    <div class="col-md-12">
        <br />
        <h2 style="margin-left: auto; margin-right: auto; clear: both;">W3</h2>
        <br />
        <ul class="list-results">

            @{
                string prevString4 = "";
                page = 0;
                index5 = 0;
            }
            @foreach (var item in Model)
            {
                if (item.w3 != null)
                {
                    if (item.w3.Title != prevString4 && index5 < 8 && item.w3.Title != "null")
                    {

                        <li>
                            <a href="@item.w3.Link" style="width: auto; height: 72px;">
                                <h4>@Html.DisplayFor(modelItem => item.w3.Title)</h4>
                            </a>
                        </li>
                        index5++;
                    }
                    prevString4 = item.w3.Title;
                }

            }

        </ul>
    </div>

    <div class="col-md-12">
        <br/>
        <h2 style="margin-left: auto; margin-right: auto; clear: both;">CodeProject</h2>
        <br/>
        <ul class="list-results">

            @{
                string prevString2 = "";
                page = 0;
                index3 = 0;
            }
            @foreach (var item in Model)
            {
                if (item.CP != null)
                {
                    if (item.CP.Title != prevString2 && index3 < 8 && item.CP.Title != "null")
                    {

                        <li>
                            <a href="http://@item.CP.Link" style="width: auto; height: 72px;">
                                <h4>@Html.DisplayFor(modelItem => item.CP.Title)</h4>
                            </a>
                        </li>
                        index3++;
                    }

                    prevString2 = item.CP.Title;
                }
            }

        </ul>
    </div>

    <div class="col-md-12">
        <br/>
        <h2 style="margin-left: auto; margin-right: auto; clear: both;">Unity3D</h2>
        <br/>
        <ul class="list-results">

            @{
                string prevString3 = "";
                page = 0;
                index4 = 0;
            }
            @foreach (var item in Model)
            {
                if (item.unity != null)
                {
                    if (item.unity.Title != prevString3 && index4 < 8 && item.unity.Title != "null")
                    {

                        <li>
                            <a href="@item.unity.Link" style="width: auto; height: 72px;">
                                <h4>@Html.DisplayFor(modelItem => item.unity.Title)</h4>
                            </a>
                        </li>
                        index4++;
                    }
                    prevString3 = item.unity.Title;
                }

            }

        </ul>
    </div>





    <!-- Search Navbar - END -->

</div>